<div class="modal">
    <ion-header-bar class="bar bar-header bar-dark">
        
        <h1 class="title">Liste des interventions</h1>
        <div class="button button-clear" ng-click="favConfig.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>

    <ion-content has-header="true" padding="true">
     
      <div class="item item-thumbnail-left item-button-right">
         <img src="{{products[1].image}}"/>
         <h2 style="font-size: 6vmin;">{{products[1].name}}</h2>     
      </div> 
      <div class="list wrapping-list">
      
          <ion-list>
            <div>
              <a class="item" ng-click="favConfig.hide()" >
                Configuration favorite 1
              </a>
              <a class="item" ng-click="favConfig.hide()" >
                Configuration favorite 2
              </a>
              <a class="item" ng-click="favConfig.hide()" >
                Configuration favorite 3
              </a>
            </div>
          </ion-list>
      

      </div>  

    </ion-content>
</div>