<ion-view  title="Nouvelle intervention" >
    
    <ion-content padding="false" scroll="false" class="has-header">
    
    <div class="category row responsive-lg " style="padding:0px; height: 100%">
        
        <button class="col col-50 button  button-block button-stable " style="margin:0px; font-weight:bold;" ng-click="go('app.mise-en-service')">
         <i class="ion-ios-settings big-icon"></i>
        <p>Mise en service</p>
       </button>
        <button class="col col-50 button button-full button-stable" style="margin:0px; font-weight:bold; " ng-click="" >
         <i class="ion-settings big-icon"></i>
        <p>Télémaintenance</p>
       </button>
    </div>
       
    </ion-content>

</ion-view>