<ion-view title="Mise en service" >
<!-- <ion-side-menus enable-menu-with-back-views="true"> -->


    <ion-content class="has-header" has-bouncing="false" scroll="false">

    <div class="card" ng-if="step==0">
      <center class="item item-divider">
        Branchement du Pass Bluetooth
      </center>
      <center class="item item-text-wrap">
        {{message}}
      </center>
      <center class="item item-body">
          <img  src="img/products/indisponible.jpg">
      </center>
      <div class="row">
        <button class="button button-large button-balanced col-50 col-offset-25" ng-click="startMiseEnService()"> Commencer</button>
      </div>
    </div>
      
      <div class="row row-center" ng-if="step==1 || step==2">
        
        <center class="col col-center" style="margin:25%;">
          <p>{{message}}</p>
          <ion-spinner icon="ripple" class="spinner-calm"></ion-spinner>
        </center>
      </div>
        
  
    <div class="card" ng-if="step==3">
      <center class="item item-divider">
        Vérifications hydrauliques 
      </center>
      <center class="item item-text-wrap">
        {{message}}
      </center>
      <center class="item item-body">
          <img  src="img/products/indisponible.jpg">
      </center>
      <div class="row">
        <button class="button button-large button-balanced col-50 col-offset-25" ng-click="nextStep()"> Suivant</button>
      </div>
    </div>

    <div class="list" ng-if="step==4">
      
        <div class="item item-thumbnail-left item-button-right">
           <img src="{{products[1].image}}"/>
           <h2 style="font-size: 6vmin;">{{products[1].name}}</h2>
           <p>{{products[1].type.label}}</p>         
        </div>
          
    </div>

    </ion-content>

</ion-view>