<ion-view title="Paramètres" >
<!-- <ion-side-menus enable-menu-with-back-views="true"> -->

    <ion-content has-header="true" has-bouncing="true">
    
    <ul class="list">

      <li class="item item-toggle">
         Newsletter
         <label class="toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Recevoir les mise à jour des notices
         <label class="toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

      <li class="item item-toggle">
         Recevoir les  infos produits
         <label class="toggle toggle-calm">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
  
    </ul>

    </ion-content>

</ion-view>